@import "tailwindcss";
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
@theme inline {
  --color-primary: var(--primary);
  --color-text: var(--text-color);
  --color-bg: var(--bg);
}

@layer base {
  @font-face {
    font-family: Ghoulish;
    src: url("/fonts/Ghoulish.ttf");
  }
  @font-face {
    font-family: MetalMania;
    src: url("/fonts/MetalMania-Regular.ttf");
  }
  :root {
    --primary: #6a7282;
    --text-color: white;
    --bg: #0e102c;
    margin: 0;
    @apply h-full w-full;
  }

  body {
    margin: 0;
  }
}

@layer components {
  /* Index Page Container */
  .screen-container {
    @apply flex flex-col items-center bg-[#0e102c] min-w-xs w-full h-screen max-w-dvw max-h-dvh transition aspect-auto overflow-hidden;
  }

  /* TopBar Containers */
  .topbar-container {
    @apply flex flex-row justify-between items-center w-full max-h-[20dvh] p-2 my-4;
  }
  .topbar-container .halo-halo-image {
    @apply w-12 sm:w-16 md:w-20 lg:w-24 ml-2;
  }
  .topbar-container .title-text {
    @apply text-4xl md:text-6xl lg:text-8xl text-center flex-grow font-[Ghoulish] text-white;
  }
  .info-box {
    @apply flex flex-row items-center justify-end;
  }

  .info-box button {
    @apply h-auto w-fit sm:rounded-[20px] rounded-[5px] p-1 sm:p-3 m-0.5 sm:m-1 md:m-2 hover:scale-105 transition cursor-pointer;
    background-color: var(--color-primary);
    color: var(--color-text);
  }
  /* HowTo Containers */
  .how-to-container {
    @apply fixed inset-0 z-50 bg-black/50 flex items-center justify-center p-6 md:p-0;
  }

  .how-to-container div {
    @apply bg-gray-500 rounded-xl p-6 max-w-5xl w-full lg:w-1/2 lg:p-12 relative text-white;
  }

  .how-to-container div h2 {
    @apply text-white text-4xl lg:text-6xl font-bold;
  }

  .how-to-container div hr {
    @apply border-t-4 border-white my-4;
  }
  .how-to-container div li {
    @apply text-lg md:text-3xl mb-4;
  }

  .how-to-container div button {
    @apply absolute top-2 right-4 size-4 md:text-2xl lg:text-3xl lg:size-8 text-black font-bold cursor-pointer;
  }
  /* Canvas Containers */
  .canvas-container {
    @apply flex flex-col grow max-w-dvw min-h-[80vh] mb-8 justify-around items-center w-screen h-fit;
    @apply landscape:flex-row landscape:mb-0 landscape:pl-8 landscape:pr-8;
    @apply md:max-w-[90dvw] md:min-h-[20vh] md:max-h-[65vh] md:m-0 md:p-0;
    @apply lg:max-h-[75vh] lg:justify-center;
    @apply xl:max-w-[60dvw];
  }
  .dice-tray {
    @apply relative grow flex flex-col justify-start min-w-xs w-screen items-center object-contain;
    @apply landscape:flex-row;
    @apply md:max-w-[85dvw] md:max-h-[65vh];
    @apply lg:max-w-[60dvw];
  }
  .dice-tray .tray-image {
    @apply absolute min-w-xs w-max max-h-fit aspect-[1080/1454] object-contain z-0;
  }
  .dice-tray .dice-select {
    @apply flex-none min-w-[300px] h-16 mt-6 z-10;
    @apply landscape:mt-0 landscape:ml-0 landscape:h-[80dvh] landscape:w-24 landscape:p-2 landscape:pt-12 landscape:pb-16;
    @apply landscape:min-w-[10vw] landscape:pt-10 landscape:ml-[1rem] landscape:pb-12 landscape:h-[65vh];
  }
  .dice-tray .selected-dice {
    @apply w-screen max-h-[80vh] min-h-fit h-[50vh] pt-2 z-10 px-10;
    @apply landscape:h-[80dvh] landscape:p-8 landscape:pr-16 landscape:pb-16 landscape:pt-12 landscape:overflow-y-auto;
    @apply landscape:p-0 landscape:grow landscape:h-[65vh];
  }
  .canvas-container .button-container {
    @apply flex gap-x-4 justify-center w-full p-4;
    @apply landscape:flex-col landscape:h-full landscape:flex-1/5 landscape:gap-y-4 landscape:justify-around;
    @apply landscape:max-w-[15dvw] landscape:max-h-[60vh];
  }
  .canvas-container .button-container .roll-button {
    @apply grow-2 bg-[#044F28] text-white rounded-md px-10 py-4 font-[Ghoulish] place-items-center cursor-pointer hover:scale-105 hover:bg-[#0cbf5d] active:scale-110 transition hover:drop-shadow-xl/50 hover:drop-shadow-[#0cbf5d] active:bg-[#0cbf5d];
  }
  .canvas-container .button-container .reset-button {
    @apply grow-1 bg-[#530b2a] text-white rounded-md px-2 font-[Ghoulish] place-items-center cursor-pointer hover:scale-105 hover:bg-[#83124b] active:scale-110 transition hover:drop-shadow-xl/50 hover:drop-shadow-[#83124b] active:bg-[#83124b];
  }
}

.sidebar-container,
.sidebar-container-button {
  background-color: var(--color-primary);
  color: var(--color-text);
}

.history-details-container {
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* Desktop Canvas Dice Select and Tray Containers */

/* .dice-canvas-container {
  @apply flex flex-col flex-1 w-full justify-center;
}
.dice-canvas-container .desktop-container {
  @apply hidden md:grid grid-cols-9 col-start-1 bg-contain bg-center w-screen h-fit bg-no-repeat;
}
.dice-canvas-container .desktop-container .canvas-container {
  @apply xl:col-start-3 xl:ml-0 lg:col-start-2 md:col-start-2 row-start-1 right-auto ml-0 items-start;
}
.dice-canvas-container
  .desktop-container
  .canvas-container
  .dice-select-container {
  @apply flex-col h-[600px] justify-end items-center xl:ml-0 lg:ml-16 md:ml-10 ml-4 mt-5;
}
.dice-canvas-container .desktop-container .dice-tray-container {
  @apply xl:col-start-3 lg:col-start-2 md:col-start-2 row-start-1 xl:col-span-5 lg:col-span-7 md:col-span-7 bg-no-repeat place-items-center;
}
.dice-canvas-container
  .desktop-container
  .dice-tray-container
  .dice-tray-image {
  @apply xl:max-w-[100%] xl:max-h-[100%] lg:max-w-[100%] md:max-w-[100%] md:max-h-[100%];
}
.dice-canvas-container .desktop-container .selected-dice {
  @apply flex-col relative col-start-4 col-span-4 row-start-1 xl:h-[600px] lg:h-[600px] md:h-[450px] h-[500px] md:mt-14;
} */

/* Roll and Reset Buttons */

/* .dice-canvas-container .desktop-container .button-container {
  @apply xl:col-span-1 xl:col-start-8 xl:row-start-1 lg:col-start-9 lg:row-start-1 md:row-start-2 md:col-start-4 md:col-span-3;
}
.desktop-container .button-container .roll-button {
  @apply xl:px-10 xl:py-6 lg:px-8 lg:py-4 px-10 py-6 rounded-md h-fit text-white m-1 drop-shadow-lg transition font-[TWBOZ] place-items-center bg-green-700 hover:scale-105 active:scale-110 cursor-pointer;
}
.desktop-container .button-container .reset-button {
  @apply px-5 py-4 text-sm rounded-md h-fit text-white m-1 drop-shadow-lg transition font-[TWBOZ] place-items-center bg-red-700 hover:scale-105 active:scale-110 cursor-pointer;
} */

/* Mobile Canvas Dice Select and Tray Containers */

/* .mobile-canvas-container {
  @apply grid grid-rows-7 grid-cols-9 md:hidden;
}
.mobile-canvas-container .mobile-dice-tray {
  @apply row-start-1 col-start-2 row-span-6 col-span-7 max-[410px]:row-start-1 max-[410px]:col-start-1 max-[410px]:row-span-7 max-[410px]:col-span-9 h-[500px];
}
.mobile-canvas-container .mobile-dice-select {
  @apply relative row-start-1 sm:col-start-3 sm:col-span-5 col-span-7 col-start-2 sm:mt-7 max-[410px]:mt-7 mt-2.5 max-[410px]:col-span-9 max-[410px]:col-start-1 items-center justify-center;
}
.mobile-canvas-container .mobile-selected-dice {
  @apply row-start-2 col-start-3 row-span-4 col-span-5 overflow-y-auto max-[410px]:row-span-5 max-[410px]:col-span-7 max-[410px]:row-start-2 max-[410px]:col-start-2 h-[500px];
} */

/* Mobile Roll and Reset Buttons */

/* .mobile-canvas-container .mobile-button-container {
  @apply flex row-start-5 col-start-4 col-span-3 mt-10 sm:row-start-5 max-[410px]:col-start-4 max-[410px]:col-span-3 justify-center items-center;
}
.mobile-canvas-container .mobile-button-container .roll-button {
  @apply xl:px-10 xl:py-6 lg:px-8 lg:py-4 px-10 py-6 rounded-md h-fit text-white m-1 drop-shadow-lg transition font-[TWBOZ] place-items-center bg-green-700 hover:scale-105 active:scale-110 cursor-pointer;
}
.mobile-canvas-container .mobile-button-container .reset-button {
  @apply px-5 py-4 text-sm rounded-md h-fit text-white m-1 drop-shadow-lg transition font-[TWBOZ] place-items-center bg-red-700 hover:scale-105 active:scale-110 cursor-pointer;
} */

/* Themes

.playmat-container .playmat-background-container .column-one .themes-container {
  @apply flex flex-col rounded-md w-full h-5/6 text-white p-2 m-1 drop-shadow-lg transition;
}
.playmat-container .playmat-background-container .column-one .themes-container .themes-title {
  @apply flex flex-row w-full h-auto p-3 justify-center text-[30px] font-[TWBOZ];
}
.themes-select {
  @apply grid lg:grid-cols-3 md:grid-cols-2 grid-rows-2 overflow-hidden w-full lg:h-full md:h-full p-3 items-center place-items-center gap-5;
}
.theme-button {
  @apply w-20 h-20 rounded-md text-black hover:scale-105 active:scale-110 transition font-[TWBOZ] drop-shadow-lg cursor-pointer;
} */
