@import "tailwindcss";
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
@theme inline {
  --color-primary: var(--primary);
  --color-text: var(--text-color);
  --color-bg: var(--bg);
}

@layer base {
  @font-face {
    font-family: TWBOZ;
    src: url("/fonts/TheWildBreathOfZelda-15Lv.ttf");
  }
  :root {
    --primary: #c23838;
    --text-color: white;
    --bg: #0e102c;
  }

  body {
    margin: 0;
  }
}

@layer components {
  /* Index Page Containers */
  .screen-container {
    @apply flex bg-[#0e102c] transition;
  }
  .screen-container .page-container {
    @apply flex-col w-full h-full;
  }
  /* TopBar Containers */
  .topbar-container {
    @apply flex flex-row justify-between items-center w-full p-2 my-4;
  }
  .topbar-container .halo-halo-image {
    @apply w-12 sm:w-16 md:w-20 lg:w-24 ml-2;
  }
  .topbar-container .title-text {
    @apply text-5xl md:text-6xl lg:text-8xl text-center flex-grow font-[TWBOZ] text-white;
  }
  .info-box {
    @apply flex flex-row items-center justify-end;
  }

  .info-box button {
    @apply h-auto w-fit sm:rounded-[20px] rounded-[5px] p-1 sm:p-3 m-0.5 sm:m-1 md:m-2 hover:scale-105 transition cursor-pointer;
    background-color: var(--color-primary);
    color: var(--color-text);
  }
  /* HowTo Containers */
  .how-to-container {
    @apply fixed inset-0 z-50 bg-black/50 flex items-center justify-center p-6 md:p-0;
  }

  .how-to-container div {
    @apply bg-gray-500 rounded-xl p-6 max-w-5xl w-full lg:w-1/2 lg:p-12 relative text-white;
  }

  .how-to-container div h2 {
    @apply text-white text-4xl lg:text-6xl font-bold;
  }

  .how-to-container div hr {
    @apply border-t-4 border-white my-4;
  }
  .how-to-container div li {
    @apply text-lg md:text-3xl mb-4;
  }

  .how-to-container div button {
    @apply absolute top-2 right-4 size-4 md:text-2xl lg:text-3xl lg:size-8 text-black font-bold cursor-pointer;
  }
  /* Canvas Containers */
  .canvas-container {
    @apply w-full h-full justify-center items-center;
  }
}

.sidebar-container,
.sidebar-container-button {
  background-color: var(--color-primary);
  color: var(--color-text);
}

.history-details-container {
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* Desktop Canvas Dice Select and Tray Containers */

.dice-canvas-container {
  @apply flex flex-row w-full justify-center;
}
.dice-canvas-container .desktop-container {
  @apply hidden md:grid grid-cols-9 col-start-1 bg-contain bg-center w-screen h-fit bg-no-repeat;
}
.dice-canvas-container .desktop-container .canvas-container {
  @apply xl:col-start-3 xl:ml-0 lg:col-start-2 md:col-start-2 row-start-1 right-auto ml-0 items-start;
}
.dice-canvas-container
  .desktop-container
  .canvas-container
  .dice-select-container {
  @apply flex-col h-[600px] justify-end items-center xl:ml-0 lg:ml-16 md:ml-10 ml-4 mt-5;
}
.dice-canvas-container .desktop-container .dice-tray-container {
  @apply xl:col-start-3 lg:col-start-2 md:col-start-2 row-start-1 xl:col-span-5 lg:col-span-7 md:col-span-7 bg-no-repeat place-items-center;
}
.dice-canvas-container
  .desktop-container
  .dice-tray-container
  .dice-tray-image {
  @apply xl:max-w-[100%] xl:max-h-[100%] lg:max-w-[100%] md:max-w-[100%] md:max-h-[100%];
}
.dice-canvas-container .desktop-container .selected-dice {
  @apply flex-col relative col-start-4 col-span-4 row-start-1 xl:h-[600px] lg:h-[600px] md:h-[450px] h-[500px] md:mt-14;
}

/* Roll and Reset Buttons */

.dice-canvas-container .desktop-container .button-container {
  @apply xl:col-span-1 xl:col-start-8 xl:row-start-1 lg:col-start-9 lg:row-start-1 md:row-start-2 md:col-start-4 md:col-span-3;
}
.desktop-container .button-container .roll-button {
  @apply xl:px-10 xl:py-6 lg:px-8 lg:py-4 px-10 py-6 rounded-md h-fit text-white m-1 drop-shadow-lg transition font-[TWBOZ] place-items-center bg-green-700 hover:scale-105 active:scale-110 cursor-pointer;
}
.desktop-container .button-container .reset-button {
  @apply px-5 py-4 text-sm rounded-md h-fit text-white m-1 drop-shadow-lg transition font-[TWBOZ] place-items-center bg-red-700 hover:scale-105 active:scale-110 cursor-pointer;
}

/* Mobile Canvas Dice Select and Tray Containers */

.mobile-canvas-container {
  @apply grid grid-rows-7 grid-cols-9 md:hidden;
}
.mobile-canvas-container .mobile-dice-tray {
  @apply row-start-1 col-start-2 row-span-6 col-span-7 max-[410px]:row-start-1 max-[410px]:col-start-1 max-[410px]:row-span-7 max-[410px]:col-span-9 h-[500px];
}
.mobile-canvas-container .mobile-dice-select {
  @apply relative row-start-1 sm:col-start-3 sm:col-span-5 col-span-7 col-start-2 sm:mt-7 max-[410px]:mt-7 mt-2.5 max-[410px]:col-span-9 max-[410px]:col-start-1 items-center justify-center;
}
.mobile-canvas-container .mobile-selected-dice {
  @apply row-start-2 col-start-3 row-span-4 col-span-5 overflow-y-auto max-[410px]:row-span-5 max-[410px]:col-span-7 max-[410px]:row-start-2 max-[410px]:col-start-2 h-[500px];
}

/* Mobile Roll and Reset Buttons */

.mobile-canvas-container .mobile-button-container {
  @apply flex row-start-5 col-start-4 col-span-3 mt-10 sm:row-start-5 max-[410px]:col-start-4 max-[410px]:col-span-3 justify-center items-center;
}
.mobile-canvas-container .mobile-button-container .roll-button {
  @apply xl:px-10 xl:py-6 lg:px-8 lg:py-4 px-10 py-6 rounded-md h-fit text-white m-1 drop-shadow-lg transition font-[TWBOZ] place-items-center bg-green-700 hover:scale-105 active:scale-110 cursor-pointer;
}
.mobile-canvas-container .mobile-button-container .reset-button {
  @apply px-5 py-4 text-sm rounded-md h-fit text-white m-1 drop-shadow-lg transition font-[TWBOZ] place-items-center bg-red-700 hover:scale-105 active:scale-110 cursor-pointer;
}

/* Themes

.playmat-container .playmat-background-container .column-one .themes-container {
  @apply flex flex-col rounded-md w-full h-5/6 text-white p-2 m-1 drop-shadow-lg transition;
}
.playmat-container .playmat-background-container .column-one .themes-container .themes-title {
  @apply flex flex-row w-full h-auto p-3 justify-center text-[30px] font-[TWBOZ];
}
.themes-select {
  @apply grid lg:grid-cols-3 md:grid-cols-2 grid-rows-2 overflow-hidden w-full lg:h-full md:h-full p-3 items-center place-items-center gap-5;
}
.theme-button {
  @apply w-20 h-20 rounded-md text-black hover:scale-105 active:scale-110 transition font-[TWBOZ] drop-shadow-lg cursor-pointer;
} */
